UIScripts/extjs/NKAM/Ticker/WEB-INF/classes/xmlschema/CardRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Steve Nichols (Datacard Platform Seven Limited) -->
<!--W3C Schema generated by XML Spy v4.0 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="IFSData.xsd"/>
	<xs:element name="CardRecord">
		<xs:annotation>
			<xs:documentation>Identifies request type and message status</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProcessType">
					<xs:annotation>
						<xs:documentation>Identifies if request is for (a) create, renew or replace and (b) test or production cards  </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="RequestType" type="CardRequestType" use="required"/>
						<xs:attribute name="Category" type="CardCategoryType" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="TrackingReference" type="TrackingReferenceType">
					<xs:annotation>
						<xs:documentation>Identifies the scope and tracking reference (a unique identifier) of an individual request</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TextualValidityPeriod" type="TextualValidityPeriodType">
					<xs:annotation>
						<xs:documentation>The period for which the card is valid</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlasticNumber" type="PlasticNumberType">
					<xs:annotation>
						<xs:documentation>An identifier for the card</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReturnBlock" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Identifies the type of return block (i.e. its name)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonalisationData" type="NVPType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="ReturnType" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
