UIScripts/extjs/NKAM/Ticker/WEB-INF/classes/xmlschema/IFSData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Steve Nichols (Datacard Platform Seven Limited) -->
<!--W3C Schema generated by XML Spy v4.0 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:element name="IFSData">
		<xs:complexType/>
	</xs:element>
	<xs:simpleType name="BusinessProductType">
		<xs:annotation>
			<xs:documentation>The name of a product as known to the issuing system, Affina and the Bureau</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="StockReferenceType">
		<xs:annotation>
			<xs:documentation>The name of a type of card stock as known by the bureau</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TextualPlasticNumberType">
		<xs:annotation>
			<xs:documentation>An identifier for a card (or set of cards) that is used for queries and information</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="TrackingReferenceType">
		<xs:annotation>
			<xs:documentation>Identifies the scope and tracking reference (a unique identifier) of an individual request</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Scope" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="AIDType">
		<xs:annotation>
			<xs:documentation>The identifier for an application according to ISO7816-5</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Value" type="xs:hexBinary" use="required"/>
	</xs:complexType>
	<xs:complexType name="NVPType">
		<xs:annotation>
			<xs:documentation>Contains the name and value of an item along with the encoding of the value</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Value" type="xs:string" use="required"/>
		<xs:attribute name="Encoding" type="EncodingType" use="required"/>
	</xs:complexType>
	<xs:simpleType name="FileNameType">
		<xs:annotation>
			<xs:documentation>Name of file that was or is to be transferred</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IssuingSystemType">
		<xs:annotation>
			<xs:documentation>Identifies the name of the card issuing system</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="EncryptionKeyType">
		<xs:annotation>
			<xs:documentation>Identifies the name of the key used for encryption</xs:documentation>
		</xs:annotation>
		<xs:attribute name="KeyType" type="xs:string" use="required"/>
		<xs:attribute name="Scope" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="BureauType">
		<xs:annotation>
			<xs:documentation>Identifies the scope and name of the destination bureau</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Scope" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="TextualNameType">
		<xs:annotation>
			<xs:documentation>Cardholder name, which is used as by Affina as display data</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CardIdType">
		<xs:annotation>
			<xs:documentation>The identifier for a card within the Affina database</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="AccountType">
		<xs:annotation>
			<xs:documentation>Identifies account in terms of cardholder and primary key</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="HolderId" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>Number of milliseconds since January 1 1970 00:00:00 GMT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:complexType name="RejectionType">
		<xs:annotation>
			<xs:documentation>Provides the error code and a textual description of the error</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ErrorCode" type="xs:integer" use="required"/>
		<xs:attribute name="Description" type="xs:string" use="required"/>
		<xs:attribute name="DateAndTime" type="xs:dateTime" use="required"/>
	</xs:complexType>
	<xs:complexType name="MonthYearType">
		<xs:annotation>
			<xs:documentation>Identifies month and year</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Month" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Year" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1970"/>
					<xs:maxInclusive value="3999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileInfoType">
		<xs:annotation>
			<xs:documentation>Identifies file instance and creation date of a file</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FileInstance" type="xs:string" use="required"/>
		<xs:attribute name="FileCreationDate" type="DateTimeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="VersionType">
		<xs:annotation>
			<xs:documentation>Identifies a versionable data item in the Affina database</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="Version" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="VersionReportType">
		<xs:annotation>
			<xs:documentation>Provides data about a configured item within the Affina database</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Scope" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="Version" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="StateType">
		<xs:annotation>
			<xs:documentation>Different states during data gather/build process</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Initial"/>
			<xs:enumeration value="Created"/>
			<xs:enumeration value="Validated"/>
			<xs:enumeration value="Ready"/>
			<xs:enumeration value="GatheringData"/>
			<xs:enumeration value="DataGathered"/>
			<xs:enumeration value="AddedToDeliveryPackage"/>
			<xs:enumeration value="HaveDeliveryPackage"/>
			<xs:enumeration value="SentDeliveryPackage"/>
			<xs:enumeration value="DeliveredToCard"/>
			<xs:enumeration value="Processed"/>
			<xs:enumeration value="FailedAndRecovered"/>
			<xs:enumeration value="FailedAndNotRecovered"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChipStatusRequestType">
		<xs:annotation>
			<xs:documentation>The chip states that an external entity can request</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Valid"/>
			<xs:enumeration value="Suspended"/>
			<xs:enumeration value="Cancelled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChipStatusType">
		<xs:annotation>
			<xs:documentation>The chip states that can be assigned by Affina</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Suspended"/>
			<xs:enumeration value="Cancelled"/>
			<xs:enumeration value="Active"/>
			<xs:enumeration value="Expired"/>
			<xs:enumeration value="Pending"/>
			<xs:enumeration value="NotAvailable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BasicCardType">
		<xs:attribute name="Scope" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="CardIdType" use="required"/>
		<xs:attribute name="ChipStatus" type="ChipStatusType" use="required"/>
	</xs:complexType>
	<xs:complexType name="GetPersoType">
		<xs:annotation>
			<xs:documentation>Common data for external requests and responses</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ConversationID" type="xs:string" use="required"/>
		<xs:attribute name="RequestType" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PlasticNumberType">
		<xs:annotation>
			<xs:documentation>Identifies the scope and plastic number</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Scope" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="PSNType">
		<xs:annotation>
			<xs:documentation>Identifies the PAN sequence number </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BADescriptionType">
		<xs:annotation>
			<xs:documentation>Identifies the purpose of the business application</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BAMemoryType">
		<xs:annotation>
			<xs:documentation>identifies the amount of memory occupied by the business application</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="BALoadStateType">
		<xs:annotation>
			<xs:documentation>Identifies if business application is mandatory or optional</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Mandatory"/>
			<xs:enumeration value="Optional"/>
			<xs:enumeration value="Neither"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BAActionType">
		<xs:annotation>
			<xs:documentation>Actions that are applicable to the business application</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Add"/>
			<xs:enumeration value="Delete"/>
			<xs:enumeration value="Update"/>
			<xs:enumeration value="Reperso"/>
			<xs:enumeration value="None"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CardUsableMemoryType">
		<xs:annotation>
			<xs:documentation>Total EEPROM provided on the card</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="CardAvailableMemoryType">
		<xs:annotation>
			<xs:documentation>Amount of free EEPROM available on the card</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:complexType name="ValidityDatesType">
		<xs:annotation>
			<xs:documentation>Identifies start and end of validity period</xs:documentation>
		</xs:annotation>
		<xs:attribute name="StartValidity" type="DateTimeType" use="required"/>
		<xs:attribute name="EndValidity" type="DateTimeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="DataContextType">
		<xs:annotation>
			<xs:documentation>Identifies the scope and name of a data context</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Scope" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="ShortTrackingRefType">
		<xs:annotation>
			<xs:documentation>The unique identifier for a request</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="UserType">
		<xs:annotation>
			<xs:documentation>Identifies the user name and scope, which will be used as part of the audit trail</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Role" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identifies the scope and role name. Affina will check that the role name has been granted permission to access relevant data within the specified scope</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Scope" type="xs:string" use="required"/>
					<xs:attribute name="Id" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Scope" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="RequestProcessedType">
		<xs:annotation>
			<xs:documentation>Identifies if the request was accepted or rejected</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="TextualValidityPeriodType">
		<xs:annotation>
			<xs:documentation>The period for which the card is valid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="From" type="MonthYearType">
				<xs:annotation>
					<xs:documentation>Start of period: Month and Year</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="MonthYearType">
				<xs:annotation>
					<xs:documentation>End of period: Month and Year</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ProductionStatusType">
		<xs:annotation>
			<xs:documentation>Provides information about the card production</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CardPersonalisationDate" type="DateTimeType" use="required"/>
	</xs:complexType>	
	
	<xs:simpleType name="EncodingType">
		<xs:annotation>
			<xs:documentation>Identifies how data is encoded</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="None"/>
			<xs:enumeration value="HexString"/>
			<xs:enumeration value="Base64Binary"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CardRequestType">
		<xs:annotation>
			<xs:documentation>Identifies the type of request</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CreateRequest"/>
			<xs:enumeration value="RenewRequest"/>
			<xs:enumeration value="ReplaceRequest"/>
			<xs:enumeration value="UpdateRequest"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CardCategoryType">
		<xs:annotation>
			<xs:documentation>Identifies if a test or production card is required</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Test"/>
			<xs:enumeration value="Production"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
