UIScripts/extjs/NKAM/Ticker/WEB-INF/classes/xmlschema/SingleRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Leon Stelmaszyk (Datacard Platform Seven Limited) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Steve Nichols (Datacard Platform Seven Limited) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="IFSData.xsd"/>
	<xs:element name="SingleRequest">
		<xs:annotation>
			<xs:documentation>Identifies request type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IssuingSystem" type="IssuingSystemType">
					<xs:annotation>
						<xs:documentation>Identifies name of the card issuing system</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DataContext" type="DataContextType">
					<xs:annotation>
						<xs:documentation>Identifies the scope and context of the card data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BusinessProduct" type="BusinessProductType">
					<xs:annotation>
						<xs:documentation>The name of a product as known to the issuing system, Affina and the Bureau</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Bureau" type="BureauType">
					<xs:annotation>
						<xs:documentation>Identifies the scope and name of the destination bureau</xs:documentation>
						<xs:documentation>Identifies the scope and name of the destination bureau</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TrackingRef" type="ShortTrackingRefType">
					<xs:annotation>
						<xs:documentation>Provides a unique identifier for the request</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TextualPlasticNumber" type="TextualPlasticNumberType">
					<xs:annotation>
						<xs:documentation>An identifier for a card (or set of cards) that is used for queries and information</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PrimaryAccount" type="AccountType">
					<xs:annotation>
						<xs:documentation>The overall account for an individual cardholder/organisation</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardAccount" type="AccountType">
					<xs:annotation>
						<xs:documentation>The account for a specific card within the primary account</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TextualName" type="TextualNameType">
					<xs:annotation>
						<xs:documentation>Cardholder name, which is used as by Affina as display data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TextualValidityPeriod" type="TextualValidityPeriodType">
					<xs:annotation>
						<xs:documentation>The period for which the card is valid</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardPersonalisationData" type="NVPType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="BusinessApplication" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonalisationData" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="NVPType">
											<xs:sequence>
												<xs:element name="PersonalisationSequence" type="NVPType" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="FulfilmentData" type="NVPType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="RequestType" type="CardRequestType" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
